.cart{
    position:fixed;
    top:0;
    left:100%;
    width:400px;
    background: rgb(187, 214, 134);
    height: 100vh;
    transition:0.5s;
    z-index: 2;

}

.cart h3{
    font-weight:100;
    text-align:center;
    color:black;
    margin-top:10px;

}

.cart .checkout {
    position:absolute;
    bottom:0;
    width:100%;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}

.cart .checkout div{
    width:100%;
    height:60px;
    display:flex;
    justify-content:center;
    align-items: center;
    font-weight:bold;
    cursor:pointer;
    background-color: beige;
}

.cart .checkout .close{
    background-color: rgb(249, 249, 0);
    color: black;
}

.active .cart {
    left: calc(100% - 400px);
}
.cart .productlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart .productlist li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  
  visibility: visible;
}

.cart .productlist li div {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.cart .productlist picture img {
  max-width: 100px;
  height: auto;
  display: block;
}

