.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

#add-to-cart{
  cursor: pointer;
  color:green;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.minus{
  cursor:pointer;
  color: black;
 }
.plus{
  cursor:pointer;
  color: black;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
